@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pathway+Gothic+One&display=swap');

/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

   html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
  }
  
  /*
   * Remove text-shadow in selection highlight:
   * https://twitter.com/miketaylr/status/12228805301
   *
   * Vendor-prefixed and regular ::selection selectors cannot be combined:
   * https://stackoverflow.com/a/16982510/7133471
   *
   * Customize the background color to match your design.
   */
  
  ::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
  }
  
  ::selection {
    background: #b3d4fc;
    text-shadow: none;
  }
  
  /*
   * A better looking default horizontal rule
   */
  
  hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
  }
  
  /*
   * Remove the gap between audio, canvas, iframes,
   * images, videos and the bottom of their containers:
   * https://github.com/h5bp/html5-boilerplate/issues/440
   */
  
  audio,
  canvas,
  iframe,
  img,
  svg,
  video {
    vertical-align: middle;
  }
  
  /*
   * Remove default fieldset styles.
   */
  
  fieldset {
    border: 0;
    margin: 0;
    padding: 0;
  }
  
  /*
   * Allow only vertical resizing of textareas.
   */
  
  textarea {
    resize: vertical;
  }
  
    /* ==========================================================================
     
     Author's custom styles
     ========================================================================== */
* {
    box-sizing: border-box;
} 
         

html {
    font-size: 16px;
    font-family: 'Open Sans Condensed', sans-serif;
}

body {
    background-color: #bed1c6;
    color: white;
    margin: 0;
    padding: 0;
}

p {
    font-size: 18px;
}

h2 {
    font-size: 26px;
    margin: 50px 0 20px;
}

h4 {
    font-size: 28px;
}

h2, h4 {
    font-family: 'Pathway Gothic One', sans-serif;
    text-align: center;
    font-weight: normal;
  }

ul {
    list-style-type: none;
    padding: 0;
}

a {
    text-decoration: none;
    color: white;
}

img {
    width: auto;
    max-width: 100%;
    height: auto;
  }

.wrapper {
    max-width: 1200px;
    width: 90%; 
    margin: 0 auto;
   }


/* ====================================
    HEADER 
=================================== */
header {
    padding: 40px 0;
    text-align: center;
}


header button {
    background-color: white;
    cursor: pointer;
}

header i {
    color: #bed1c6;
}

.search-container {
    display: inline-block;
    margin: 40px 0;
}

.search-form {
    background-color: white;
    border-radius: 5px;
    padding: 5px;
}

.search-form input, .search-form button {
    border: none;
    outline: none;
}

img .icon {
  
    color: white;
}
 
nav {
    font-family: 'Pathway Gothic One', sans-serif;
    font-size: 20px;
  }
  
.navbar a:hover {
    color: #91a298;
}


/* ====================================
    HERO SECTION
=================================== */

.hero-area {
    background: url('img/hero.png') center no-repeat #333;
    background-size: cover;
    background-position: center;
    min-height: 600px;
  }


/* ====================================
    MAIN - SECTION 1
=================================== */
.intro-flex {
    padding-bottom: 90px;
}

.intro-flex p {
    margin: 25px 0;
}

.discover-images {
    position: relative;
}

.discover {
    position: relative;
}

.discover img {
    position: relative;
}

.discover button {
    position: absolute;
    top: 440px;
    left: 60px;
    background-color: white;
    border-color: #a7b6ad;
    color: #a7b6ad;
    font-size: 24px;
    font-weight: bold;
    padding: 10px 50px;
    border-style: solid;
}


.discover button:hover {
    background-color: #a7b6ad;
    color: white;
}

/* ====================================
    PRICING SECTION 
=================================== */

.price-flex {
    padding: 10px 0 50px;
}

.price {
    background: url('img/bg-new.png') center no-repeat;
    background-size: cover;
    color: #a1aaa5;
}

.prices {
    text-align: center;   
}

.prices p {
    margin: 5px 0;
}

.prices div {
    margin-bottom: 50px;
}

.price h2 {
    position: relative;
    font-weight: normal;
    margin-bottom: 40px;
}

.price h2::after {
    content: "";
    width: 70%;
    height: 2px;
    background: #a1aaa5;
    position: absolute;
    bottom: -5px;
    left: 60px;
  }


.our-collection h2 {
    text-transform: uppercase;
}



/* ====================================
    FOOTER SECTION 
=================================== */

footer {
    padding: 40px 0 50px;
    text-align: center;
  }


footer .col-1 h3:after {
    content: "";
    display: block;
    margin: 0 auto;
    width: 15%;
    border-bottom: 1px solid white;
}

address {
    font-style: normal;
    margin-top: 18.72px;
    text-align: center;
 }

address p {
    margin: 0;
 }

address a:hover {
    color: #91a298;
 }

.footer-col-3 h3 {
    text-align: center;
    margin-bottom: 20px;
 }

.user-email {
    background-color: #ebf6f0;
    border: none;
    color: #a7b6ad;
    text-align: center;
    margin-bottom: 10px;
}

.subscribe-btn {
    background-color: white;
    border: none;
    color: #a7b6ad;
    width: 176.8px;
}

.subscribe-btn:hover {
    background-color: #91a298;
    color: white;
}

.social {
    display: flex;
    justify-content: center;
    padding-top: 40px;
}

.social p {
    background: #bed1c6;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    margin: 18px 5px;
}

.social i:hover {
    color: #91a298;
}

  /* ====================================
     ====================================
       Media Queries - TABLET 
     ==================================
     =================================== */
  
     @media only screen and (min-width: 768px) {
    
    h2 {
        margin: 80px 0 30px;
        font-size: 36px;
    }

    h4 {
        margin-top: 5px;
        font-size: 36px;
    } 

    .top-header p {
        display: inline;
    }

    .logo {
        margin: 0 60px;
    }

    .lang {
        font-size: 30px;
    }

    nav ul {
            display: flex;
            justify-content: space-between;
            text-transform: uppercase;
            font-size: 38px;
        }

    .section-1 p {
        font-size: 20px;
    }
    
    .discover-images {
            display: flex;
            justify-content: space-between;
        }

    .discover button {
            top: 280px;
            left: 20px;
            font-size: 20px;
            padding: 10px 50px;
        }

    .discover.box-2 {
        margin: 0 15px;
    }
    
    .price h2::after {
            content: "";
            width: 55%;
            height: 2px;
            background: #a1aaa5;
            position: absolute;
            bottom: -5px;
            left: 178px;
          }
   
    .ring-pics ul {
        display: flex;
    }

    .ring-pics ul li {
        margin: 0 5px;
    }

    .instagram ul {
        display: flex;
    }

    footer {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }

    footer .col-1 h3:after {
        content: "";
        display: block;
        margin: 0 auto;
        width: 60%;
    }

}
     
 /* ==============================
    ==============================
      DESKTOP MEDIA QUERY
    ================================
    ================================*/
  
  @media only screen and (min-width: 1200px) {

    p {
        font-size: 25px;
    }

    h2 {
        font-size: 72px;
    }

    h4 {
        font-size: 65px;
    }

    header {
        padding-top: 45px;
    }

    .lang {
        font-size: 48px;
    }

    .lang span {
        color: #91a298;
    }

    .top-header {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 60%;
        margin: auto;
    }

    .search-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .navbar {
        width: 60%;
    }

    nav ul {
        font-size: 48px;
    }


    .intro-flex {
        display: flex;
        justify-content: space-between;
    }

    .intro-row1, .intro-row2 {
        width: 50%;
    }

    .intro-row1 {
        margin-right: 100px;
    }

    .discover-images {
        display: flex;
    }

    .discover button {
        font-size: 28px;
        top: 440px;
        left: 60px;
        font-size: 28px;
        padding: 10px 50px;
    }

    .box-2 {
        margin: 0 50px;
    }

    .price {
        margin-bottom: 40px;
    }

    .prices div {
        margin-right: 70px;
        display: inline-block;
    }
    
    .prices .last {
        margin-right: 0;
    }

    .price h2::after {
       /* content: "";
        width: 55%;
        height: 2px;
        position: absolute;
        bottom: -5px;*/
        left: 380px;
      }

    .our-collection {
        position: relative;
    }
    
    .ring-pics {
        position: relative;
    }

    .ring {
        margin-right: 38px;
    }
    
    .arrow {
        cursor: pointer;
        position: absolute;
        top: 50%;
        margin-top: -35px;
        width: 0;
        height: 0;
        border-style: solid;
    }
    
    #arrow-left {
        border-width: 20px 30px 20px 0;
        border-color: transparent #ffffff transparent transparent;
        left: -60px;
    }
    
    #arrow-right {
        border-width: 20px 0 20px 30px;
        border-color: transparent transparent transparent #ffffff;
        right: -60px;
    }
    
    .instagram ul {
        padding: 0;
        margin: 0;
    }

    .instagram h2 {
        font-size: 60px;
        margin: 200px 0 75px;
    }


    /* =======================
         FOOTER 
    =========================*/

    footer {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        font-size: 36px;
        padding-top: 135px;
    }

    footer h3 {
        margin: 0;
    }

    footer .col-1 h3:after {
        content: "";
        display: block;
        margin: 0 auto;
        width: 60%;
    }
   
    footer ul {
        padding: 0;
    }

   .social {
       display: flex;
       justify-content: space-around;
   }

   .user-email {
       font-size: 30px;
   }

    .subscribe-btn {
        font-size: 30px;
        width: 100%;
       
   }

}